#root {
  display: flex;
  height: 100vh;
}

.colorBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.colorBox .lbox {
  height: 100%;
  flex: 1;
  background-color: #fff;
  padding: 0 3vw 3vw 3vw;
  box-sizing: border-box;
}

.colorBox .lbox .inputbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorBox .lbox .inputbox textarea {
  width: 100%;
  height: 20vw;
  font-size: 2vw;
  box-sizing: border-box;
  padding: 1vw;
}

.colorBox .rbox {
  height: 100%;
  flex: 2;
  background-color: #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.colorBox .rbox h2 {
  padding: 0 3vw;
  background-color: #efefef;
}

.colorBox .rbox .his {
  padding: 0 3vw 3vw 3vw;
  flex: 1;
  overflow: hidden;
}
