
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    #root{
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }
}

.app{
    box-sizing: border-box;
    display: flex;
    flex: 1;
    > div{
        flex: 1;
        height: 100vh;
        box-sizing: border-box;
        overflow: auto;
    }
    .input_box{
        display: flex;
        flex-direction: column;
        border-right: 1px solid #ccc;
        textarea{
            flex: 1;
        }
    }

    .tool_box{

        pre{
            margin-top: 0;
        }



    }
    .out_box{
        box-sizing: border-box;
        border-left: 1px solid #ccc;
        overflow: auto;
        img{
            display: block;
        }
    }

}